    



i{

    margin-right: 0.8rem;
    font-size: 40px;
}

/* p{
    text-align: center;
    font-size: 15px;
} */

/* li{ */
    /* font-size: 15px; */
/* } */

b{
    font-size: 15px;
}

.l{
    font-size: 15px;
}
